{%extends 'blogs/base.html' %}


	{%block content%}

	<br>
	<div class='container'>
		<form action="{% url 'new' %}" method='POST' enctype='multipart/form-data'>
			{% csrf_token %}
			<h4>제목: </h4>
			<div class="form-group">
				<input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="title">
			</div>
			<!-- <input type="text" name="title"> -->
			<br>
			<br>
			<h4>본문: </h4>
			<div class="form-group">
				<textarea type="text" name="body" class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
			</div>
			<br>
			<br>
			<input type="file" name="image">
			<br>
			<br>
			<input class="btn btn-dark" type="submit" value="제출하기">
		</form>
	</div>

	{% endblock %}
